@charset "utf-8";

/* layout */
#container {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    overflow: hidden;
}

#hd_pop, #hd_wrapper, #tnb .inner, #gnb .gnb_wrap, #container_wr, #ft_wr {
    width: 100% !important;
}

:is(a, h1, h2, h3, h4, h5, h6, td, th, li, span, strong, dl, dd, div, section, button) {
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}

nav.navbar{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background:#fff;
    z-index:999;
}
#navbarNav {
    max-width: 1000px;
}

#navbarNav .nav-link {
    font-size: 21px;
    color: #222 !important;
}

#navbarNav .nav-item {
    margin-right: 20px;
}

#navbarNav .nav-item:last-child {
    margin-right: 0;
}

#navbarNav .navbar-brand {
    font-size: 30px;
}
#footer{display:none;}




















/* 240319 - 스크롤매직 참고 소스
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -.5px;
  }
  
  .header {
    padding: 80px 50px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
  }
  .header h1 {
    font-size: 65px;
  }
  .header p {
    margin-top: 15px;
    font-size: 17px;
    line-height: 160%;
  }
  
  .container {
    margin-top: 40px;
    padding: 0 50px;
  }
  .container h2 {
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing:-1px;
  }
  .container .h2_text {
    margin-bottom: 10px;
    padding-bottom: 80px;
    font-size: 14px;
    line-height: 140%;
  }
  .container .icon-round {
    width: 150px;
    height: 150px;
    margin: 120px 0;
    color: #fff;
    font-size: 22px;
    line-height: 150px;
    text-align: center;
    background-color: #ccc6db;
    border-radius: 100%;
  }
  
  .trigger {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 16px;
    color: #6332F6;
    background-color: #eee;
  }*/

