@charset "utf-8";
.html-bg{background:#fc490b;}
.css-bg{background:#0096dc}
.js-bg{background:#ffdf00;}
.jquery-bg{background:#0868ab;}
.bootstrap-bg{background:#6f42c1;}


/* layout */
#container {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
}

#hd_pop, #hd_wrapper, #tnb .inner, #gnb .gnb_wrap, #container_wr, #ft_wr {
    width: 100% !important;
}

:is(a, h1, h2, h3, h4, h5, h6, td, th, li, span, strong, dl, dd, div, section, button) {
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}

nav.navbar{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background:#fff;
    z-index:999;
}
#navbarNav {
    max-width: 1000px;
}

#navbarNav .nav-link {
    font-size: 21px;
    color: #222 !important;
}

#navbarNav .nav-item {
    margin-right: 20px;
}

#navbarNav .nav-item:last-child {
    margin-right: 0;
}

#navbarNav .navbar-brand {
    font-size: 30px;
}

/* ���� */
.main-sec-box {
    padding: 6rem 2rem;
}

.main-sec-box .main_common_tit {
    text-align: center;
    margin-bottom: 3rem;
}

.main-sec-box .main_common_tit h3 {
    position:relative;
    display: inline-block;
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 15px;
}
.main-sec-box .main_common_tit h3:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 40px;
    height: 3px;
    background: #333;
    transform: translateX(-50%);
}

.main-sec-box .main_common_tit h3.txt_wt {
    color: #fff;
}
.main-sec-box .main_common_tit h3.txt_wt:after {
    content: '';
    background: #fff;
}

/* scroll */
.main-scroll-box {
    height: 100vh;
    text-align: center;
    background: #000;
}

.main-scroll-box .scroll_box {
    position: absolute;
    top: 20px;
    left: 50%;
    color: #fff;
    animation-direction: normal;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: scroll_box;
    animation-timing-function: ease;
}

@-webkit-keyframes 'scroll_box' {
    0% {
        transform: translate(-50%, 0)
    }
    50% {
        transform: translate(-50%, 30%)
    }
    100% {
        transform: translate(-50%, 0)
    }
}

.main-scroll-box .txt_box h6{
	font-size:8rem;
	margin-bottom:1rem;
	color:#fff;
}
.main-scroll-box .txt_box p{
	font-size:2.5rem;
	color:#fff;
}

.main-scroll-box .txt_box2 h6{
	font-size:4rem;
	margin-bottom:1rem;
	color:#fff;
}
.main-scroll-box .txt_box2 p{
	font-size:2rem;
	color:#fff;
}
.main-scroll-box .txt_box2 a{
	display:inline-flex;
	border: solid 2px #fff;
	border-radius: 980px;
	background-color: black;
	height: 52px;
	padding-left: 1rem;
	padding-right: 1rem;
	cursor: pointer;
	text-decoration:none;
	align-items:center;
}
.main-scroll-box .txt_box2 a:hover{
	background-color:#fff;
	-webket-transition:background-color 350ms ease-in-out;
	transition:background-color 350ms ease-in-out;
}
.main-scroll-box .txt_box2 span{
	color:#fff;
	font-size:1rem;
}
.main-scroll-box .txt_box2 a:hover span{
	color:#000;
	transition:color 350ms ease-in-out;
}


/* about */
.main-about-box h6 {
    display: inline-block;
    font-size: 2rem;
    padding-bottom: 0.4rem;
    border-bottom: 2px solid #ffc107;
    font-weight:bold;
    margin-bottom:1rem;
}

.main-about-box p {
    font-size: 1.25rem;
}

/* skill */
.main-skill-box {
    background: #ffc107;
}

.main-skill-box .skill-box {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}

.skil-box-tilte {
    color: #f4623a;
    font-size: 1.5rem;
    font-weight: bold;
}
.main-skill-box .skill-box .skill-item{

}
.main-skill-box .skill-box .skill-item img{
	max-width:100px;
}

/* archiving */
.main-archiving-box {
    background: #212529;
}

.archiving-box > div {
    background: #f5f5f5;
    border-radius: 1rem;
    padding: 2rem;
    min-height:273px;
}

.archiving-box > div img {
    max-width:150px;
}

.archiving-box .archiving-link {
    display: block;
    margin: 1rem 0;
    color: #258ddb;
}

.archiving-box ul {
    padding-left: 1.2rem;
    list-style-type: disc;
}

.archiving-por-box {
}

.archiving-por-box h3 {
    font-size: 3rem;
}

.archiving-por-box h6 {
    font-weight: bold;
    margin: 1rem 0;
}

/* project */
.main-project-box {
    background: #4244ff;
}

.project-box {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
}

.project-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.project-date {
    display: block;
    color: #6c757d;
    text-align: center;
}
.project-col-wr{
    padding:0 2rem;
}
.project-col-slide .swiper-button-next:after, .project-col-slide .swiper-button-prev:after{
	font-size:25px;
    color:#ccc;
}
.project-col-slide .swiper-pagination-bullet-active{
    background:#212529;    
}

.project-col-slide img{
	width:100%;
	height:100%;
	object-fit:contain;
	max-height:450px;
}
.project-col-txt-wrap{
    padding-left:50px;
}
.project-col-txt-box {
    border-bottom: 1px solid #ccc;
}

.project-col-txt-box p{
    word-break:keep-all;
}

.project-stack span {
    display: inline-block;
    /* border: 1px solid gray; */
    border-radius: 1rem;
    padding: 6px 14px 8px;
    margin-right: 0.25rem;
    line-height: 1;
    font-size: 0.75rem;
    text-align: center;
}

.main-career-box {
    background: #f5f5f5;
}
.main-career-box .career-item-lt{
	padding-right:4rem;
    border-right:1px solid #ccc;
}
.main-career-box .career-item-lt img{
	border-radius:50%;
	overflow:hidden;
}
.main-career-box .career-item-rt {
    padding-left:2rem;
}
.career-item-title{
    font-size: 1.75rem;
    font-weight: bold;
}
.career-item-date{
    font-weight: normal;
    font-size: 1.25rem;
    color: #6c757d;
}
.career-item-txt-box p{
    font-weight: normal;
    color: #000000;
    font-size: 0.9rem;
}


.main-contact-box {
    background: #712cf9
}

.main-contact-box textarea {
    min-height: 200px !important;
    resize: none;
}

.main-contact-box button {
    width:120px;
    height: 50px;
    background: #fff !important;
    border:0 !important;
}

.skill-item-info-box {
    display: flex;
    flex-wrap:wrap;
    gap:30px;
    border:1px solid #ccc;
    border-radius:10px;
    padding: 15px;
    align-items: center;

}
.main-contact-box .form-control{
    background:transparent;
    border:none;
    border-bottom:2px solid #fff;
    transition:background 0.3s;
}
.main-contact-box .form-control + label{
    color:#fff;
    font-weight:500;
}
.main-contact-box .form-control:focus{
    background:#fff;
}

.progress-box {
    flex:0 0 70%;
}
.progress-box .progress{
    height:25px;
}
.progress-box .progress > div{
    height:25px;
    line-height:25px;
}
.counter-box p {
    text-align: center;
    margin-bottom: 0;
    font-size:2rem;
    font-weight: bold;
}

.counter-box {
    flex:0 0 15%;
}





















/* 240319 - 스크롤매직 참고 소스
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -.5px;
  }
  
  .header {
    padding: 80px 50px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
  }
  .header h1 {
    font-size: 65px;
  }
  .header p {
    margin-top: 15px;
    font-size: 17px;
    line-height: 160%;
  }
  
  .container {
    margin-top: 40px;
    padding: 0 50px;
  }
  .container h2 {
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing:-1px;
  }
  .container .h2_text {
    margin-bottom: 10px;
    padding-bottom: 80px;
    font-size: 14px;
    line-height: 140%;
  }
  .container .icon-round {
    width: 150px;
    height: 150px;
    margin: 120px 0;
    color: #fff;
    font-size: 22px;
    line-height: 150px;
    text-align: center;
    background-color: #ccc6db;
    border-radius: 100%;
  }
  
  .trigger {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 16px;
    color: #6332F6;
    background-color: #eee;
  }*/